.container {
    max-width: 300px;
    padding: 24px;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0 auto;
    user-select: none;
}

.tabs__btns {
    display: flex;
    width: 100%;
}

.tabs__btn {
    flex: 1 1 100%;
    background-color: silver;
    border: none;
    padding: 8px;
    position: relative;
    cursor: pointer;
    outline: none;
}

.tabs__btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: blue;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .2s ease;
}

.tabs__btn.is-active {
    cursor: default;
}

.tabs__btn.is-active:active { transform: scaleX(1); }

.tabs__btn. + .tabs__btn { margin-left: 2px; }

.tabs__content { margin-top: 2px }

.tabs__item {
    background-color: silver;
    padding: 8px;
    display: none;
}

.tabs__item.is-active { display: block }

